<!doctype html>
<html lang="en">
<head>
    <title>Alan Shum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="theme-color" content="#3c98ca">-->
    <meta name="description" content="Alan Shum - Full Stack Web Developer; Enthusiat in cutting-edge tech; IT 小鮮肉">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta property="og:title" content="Alan Shum - Newbie Web Developer">
    <meta property="og:description" content="Alan Shum - Full Stack Web Developer; Enthusiat in cutting-edge tech; IT 小鮮肉">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://alanshum.com">
    <!--<meta property="og:image" content="">-->
    <link rel="stylesheet" href="assets/vendor/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body>

  <div id='mainApp' v-bind:class='{"resume-mode": resumeMode}'>
    <vue-aside class='brief colour-animation'></vue-aside>
    <vue-main class='main'></vue-main>
  </div>

  <!-- TEMPLATES -->
  <template id="vue-aside">
    <aside>
      <div class="brief-logo">
          <p><span>ALAN</span></p>
          <p><span>KAYI</span></p>
          <p><span>SHUM</span></p>
        </div>
        <div class="brief-contacts">
          <div class="contact" v-for="contact in contacts">
            <label for="">{{contact.type}}</label>
            <p v-for='contactItem in contact.items' v-if='!contact.inline'>
              <a v-if='contactItem.text' v-bind:href="contactItem.href">{{contactItem.text}}</a>
            </p>
            <span v-if="contact.inline">
              <a v-for='contactItem in contact.items' v-bind:class='contactItem.icon' v-bind:href="contactItem.href"></a>
            </span>
          </div>
        </div>
    </aside>
  </template>

  <template id='vue-main'>
    <main>
      <div class="picture-wrapper">
        <div class="picture">
          <img src="assets/img/me.jpg" alt="">
          <span class="picture-credit">
            Photo Credit: Anthony Chan @ Feb 2017
          </span>
        </div>
      </div>
      <div class="content">
        <div class="content-name">
          <h1>SHUM</h1>
          <h1 class='label-line colour-animation'>KAYI</h1>
          <h5 class='content-title'>Full Stack Web Developer</h5>
        </div>
        <div class="content-caption">
          <span>I'm</span>
          <div class='role-list'>
            <ul>
              <li v-for='role in roles'>{{role}}</li>
            </ul>
          </div>
        </div>
        <div class="content-resume-action colour-animation">
          <button v-on:click='toggleResumeMode()'>{{buttonText}}</button>
        </div>
      </div>
    </main>
  </template>

  <script src='assets/vendor/vue.js'></script>
  <script src="assets/js/main.js"></script>
</body>
</html>