:root {
  --theme-color: #132147;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #111;
  filter: hue-rotate(10deg); }

a[href] {
  text-decoration: none; }

.colour-animation {
  animation: changingThemeColor 30s infinite alternate; }

@keyframes changingThemeColor {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

#mainApp {
  display: flex; }

.brief {
  color: #fff;
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 600px;
  box-sizing: border-box;
  transition: all 0.5s; }
  .brief-logo {
    padding: 30px;
    user-select: none;
    cursor: default; }
    .brief-logo span {
      transition: all 0.5s; }
    .brief-logo p {
      font-family: monospace;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 0;
      line-height: 1;
      margin: 0;
      padding: 0;
      transition: letter-spacing .3s; }
    .brief-logo:hover p {
      letter-spacing: 25px; }
  .brief-contacts {
    padding: 30px;
    word-wrap: break-word; }
    .brief-contacts .contact label {
      font-size: 0.7rem;
      display: block;
      font-weight: 100;
      margin-bottom: 5px;
      opacity: .5; }
    .brief-contacts .contact a {
      font-size: 1rem;
      color: #fff;
      box-sizing: border-box; }
    .brief-contacts .contact p {
      margin: 0; }
    .brief-contacts .contact span a + a {
      margin-left: 10px; }
    .brief-contacts .contact + .contact {
      margin-top: 20px; }

.main {
  position: relative;
  display: flex; }
  .main > div {
    display: inline-block; }
  .main .picture {
    height: 90vh;
    margin-left: -300px;
    margin-top: 5vh;
    position: relative;
    transition: all 1s;
    overflow: hidden; }
    .main .picture img {
      filter: grayscale();
      object-fit: cover;
      object-position: 20% 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 20px #000; }
    .main .picture-wrapper {
      width: 20vw; }
    .main .picture-credit {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: right;
      padding: 5px 10px;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      bottom: 0;
      transform: translateY(100%);
      opacity: 0;
      transition: opacity .3s, transform 1s; }
    .main .picture:hover .picture-credit {
      transform: translateY(0);
      opacity: 1;
      transition: opacity 1s, transform .3s; }
  .main .content {
    color: #fff;
    padding-left: 20px;
    padding-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    box-sizing: border-box;
    transition: all 0.5s; }
    .main .content-name * {
      margin: 0; }
    .main .content-name h1 {
      font-weight: 600;
      text-align: justify; }
    .main .content-name .label-line {
      position: relative;
      color: #0073d5; }
      .main .content-name .label-line:after {
        content: ' ';
        border-bottom: 2px solid #0073d5;
        width: 200px;
        height: 0;
        top: 0;
        left: -100px;
        z-index: 1;
        position: absolute; }
    .main .content-title {
      margin-top: 5px; }
    .main .content-caption {
      margin-top: 10px;
      height: 30px; }
      .main .content-caption > * {
        display: inline-block;
        vertical-align: middle; }
      .main .content-caption .role-list {
        margin-top: 8px;
        height: 100%;
        overflow: hidden; }
        .main .content-caption .role-list ul {
          margin: 0;
          padding: 0;
          transform: translateY(-30px);
          animation: fadeItems 11.5s infinite; }

@keyframes fadeItems {
  0% {
    transform: translateY(0px); }
  17.3913% {
    transform: translateY(0px); }
  20% {
    transform: translateY(-32px); }
  37.3913% {
    transform: translateY(-32px); }
  40% {
    transform: translateY(-64px); }
  57.3913% {
    transform: translateY(-64px); }
  60% {
    transform: translateY(-96px); }
  77.3913% {
    transform: translateY(-96px); }
  80% {
    transform: translateY(-128px); }
  97.3913% {
    transform: translateY(-128px); }
  100% {
    transform: translateY(0); } }
          .main .content-caption .role-list ul li {
            list-style: none;
            height: 30px;
            padding-top: 2px; }
    .main .content-resume-action {
      margin-top: 30px;
      transition: all 0.5s; }
      .main .content-resume-action button {
        color: #fff;
        width: 120px;
        border: 1px solid #fff;
        background: linear-gradient(to right, #0073d5 50%, transparent 50%);
        background-size: 240px;
        background-position-x: -120px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-position .3s, border-color .3s; }
        .main .content-resume-action button:hover {
          background-position-x: 0;
          border-color: #0073d5; }
        .main .content-resume-action button:focus {
          outline: none;
          border-color: #0073d5; }
    .main .content-resume {
      display: none; }
      .main .content-resume section {
        display: flex;
        flex-direction: column;
        box-sizing: border-box; }
      .main .content-resume section + section {
        padding-left: 30px; }
      .main .content-resume .section-short {
        width: 30%; }
      .main .content-resume .section-long {
        width: 70%; }
      .main .content-resume .wrapper .item > div {
        display: inline-block;
        vertical-align: middle; }
      .main .content-resume .wrapper .item-logo {
        width: 250px;
        text-align: center; }
        .main .content-resume .wrapper .item-logo img {
          width: 80%; }
      .main .content-resume .wrapper .item-details {
        padding: 0;
        width: calc(100% - 270px); }
        .main .content-resume .wrapper .item-details .details {
          padding-left: 30px; }

.content-resume .mission {
  line-height: 2;
  letter-spacing: 0.5px;
  text-align: justify; }

.resume-mode .brief {
  position: relative;
  z-index: 1;
  background-color: transparent;
  width: 300px; }
  .resume-mode .brief-logo span {
    padding: 0 10px;
    background-color: #0073d5; }

.resume-mode .main .picture {
  margin: 0 0 0 -300px;
  width: 300px;
  height: 100vh; }
  .resume-mode .main .picture-wrapper {
    width: 0;
    position: relative; }
  .resume-mode .main .picture img {
    box-shadow: 0; }

.resume-mode .main .content {
  padding-top: 40px;
  justify-content: flex-start; }
  .resume-mode .main .content-title {
    height: 0; }

@keyframes moving {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(120px, 0); }
  100% {
    transform: translate(120px, -50px); } }
  .resume-mode .main .content-caption {
    visibility: hidden;
    height: 0; }
  .resume-mode .main .content-resume-action {
    position: fixed;
    right: 30px;
    top: 0; }
  .resume-mode .main .content-resume {
    width: calc(100vw - 300px);
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(100vh);
    opacity: 0;
    font-family: 'Quicksand', sans-serif;
    opacity: 1;
    transform: translateY(0); }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100vh); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
