// STYLE CONFIG
$white: #fff;
$textColour: #fff;
$themeColour: #132147;
$lightenThemeColour: #0073d5;
// SIZES
$asideBarWidth: 600px;
$pictureWidth: 40vw;
$pictureWrapperWidth: 20vw;
$pictureLeftPadding: 300px;
$layout_L: 1200px;
// TIMING
$fastAni: .3s;
$midAni: .5s;
// MIXINS
@mixin minWidth($q) {
  @media screen and (min-width: $q) { @content }
}

:root {
  --theme-color: $themeColour;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #111;
  filter: hue-rotate(10deg);
}

a[href] {
  text-decoration: none;
}

.colour-animation {
  animation: changingThemeColor 30s infinite alternate;
  @keyframes changingThemeColor {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
  }
}

// STYLES

#mainApp {
  display: flex;
}

.brief {
  $asidePadding: 30px;
  color: $textColour;
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: $asideBarWidth;
  box-sizing: border-box;
  transition: all $midAni;
  &-logo {
    padding: $asidePadding;
    user-select: none;
    cursor: default;
    span {
      transition: all $midAni;
    }
    p {
      font-family: monospace;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 0;
      line-height: 1;
      margin: 0;
      padding: 0;
      transition: letter-spacing .3s;
    }
    &:hover {
      p {
        letter-spacing: 25px;
      }
    }
  }
  &-contacts {
    padding: $asidePadding;
    word-wrap: break-word;
    .contact {
      label {
        font-size: 0.7rem;
        display: block;
        font-weight: 100;
        margin-bottom: 5px;
        opacity: .5;
      }
      a {
        font-size: 1rem;
        color: $textColour;
        box-sizing: border-box;
      }
      p {
        margin: 0;
      }
      span {
        a + a {
          margin-left: 10px;
        }
      }
    }
    .contact + .contact {
      margin-top: 20px;
    }
  }
}

.main {
  position: relative;
  display: flex;
  > div {
    display: inline-block;
  }
  .picture {
    height: 90vh;
    margin-left: -$pictureLeftPadding;
    margin-top: 5vh;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    img {
      filter: #{'grayscale' + '(' + ')'};
      object-fit: cover;
      object-position: 20% 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 20px #000;
    }
    &-wrapper {
      width: $pictureWrapperWidth;
    }
    &-credit {
      color: $textColour;
      background-color: transparentize(#000, 0.7);
      text-align: right;
      padding: 5px 10px;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      bottom: 0;
      transform: translateY(100%);
      opacity: 0;
      transition: opacity .3s, transform 1s;
    }
    &:hover {
      .picture-credit {
        transform: translateY(0);
        opacity: 1;
        transition: opacity 1s, transform .3s;
      }
    }
  }
  .content {
    color: $textColour;
    padding-left: 20px;
    padding-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    box-sizing: border-box;
    transition: all $midAni;
    &-name {
      * {
        margin: 0;
      }
      h1 {
        font-weight: 600;
        text-align: justify;
      }
      .label-line {
        position: relative;
        color: $lightenThemeColour;
        &:after {
          content: ' ';
          border-bottom: 2px solid $lightenThemeColour;
          width: 200px;
          height: 0;
          top: 0;
          left: -100px;
          z-index: 1;
          position: absolute;
        }
      }
    }
    &-title {
      margin-top: 5px;
    }

    // components
    &-caption {
      $itemHeight: 30px;
      margin-top: 10px;
      height: $itemHeight;
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      .role-list {
        $emojiOffset: 2px;
        margin-top: 8px;
        height: 100%;
        overflow: hidden;
        ul {
          @mixin generateFadeItemsAnimation($showDuration, $fadeDuration, $itemsCnt, $displacement) {
            $totalDuration: ($showDuration + $fadeDuration) * $itemsCnt;
            animation: fadeItems #{$totalDuration}s infinite;
            @keyframes fadeItems {
              @for $i from 0 through $itemsCnt - 1 {
                #{($fadeDuration + $showDuration) * $i / $totalDuration * 100}% {
                  transform: translateY(#{-$displacement * $i});
                }
                #{($showDuration * ($i + 1) + $fadeDuration * $i) / $totalDuration * 100}% {
                  transform: translateY(#{-$displacement * $i});
                }
              }
              100% {
                transform: translateY(0);
              }
            }
          }
          margin: 0;
          padding: 0;
          transform: translateY(-$itemHeight);
          @include generateFadeItemsAnimation(2, 0.3, 5, $itemHeight + $emojiOffset);
          li {
            list-style: none;
            height: $itemHeight;
            padding-top: $emojiOffset;
          }
        }
      }
    }
    &-resume-action {
      margin-top: 30px;
      transition: all $midAni;
      button {
        $buttonWidth: 120px;
        color: $textColour;
        width: $buttonWidth;
        border: 1px solid $textColour;
        background: linear-gradient(to right, $lightenThemeColour 50%, transparent 50%);
        background-size: #{$buttonWidth * 2};
        background-position-x: -$buttonWidth;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-position .3s, border-color .3s;
        &:hover {
          background-position-x: 0;
          border-color: $lightenThemeColour;
        }
        &:focus {
          outline: none;
          border-color: $lightenThemeColour;
        }
      }
    }
    &-resume {
      display: none;
    }
  }
}

// SPECIAL MODES
.resume-mode {
  $asideBarWidth: 300px;
  .brief {
    position: relative;
    z-index: 1;
    background-color: transparent;
    width: $asideBarWidth;
    &-logo {
      span {
        padding: 0 10px;
        background-color: $lightenThemeColour;
      }
    }
  }
  .main {
    .picture {
      margin: 0 0 0 #{-$asideBarWidth};
      width: $asideBarWidth;
      height: 100vh;
      &-wrapper {
        width: 0;
        position: relative;
      }
    }
    .content {
      padding-top: 40px;
      justify-content: flex-start;
      &-title {
        animation: moving #{1 + $midAni};
        animation-fill-mode: forwards;
        animation-delay: $midAni;
        height: 0;
        @keyframes moving {
          0% { transform: translate(0, 0); }
          50% { transform: translate(120px, 0); }
          100% { transform: translate(120px, -50px); }
        }
      }
      &-caption {
        visibility: hidden;
        height: 0;
      }
      &-resume-action {
        position: fixed;
        right: 30px;
        top: 0;
      }
      &-resume {
        width: calc(100vw - 300px);
        display: flex;
        flex-wrap: wrap;
        transform: translateY(100vh);
        opacity: 0;
        font-family: 'Quicksand', sans-serif;
        animation: moveUp 2s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        @keyframes moveUp {
          0% {
            opacity: 0;
            transform: translateY(100vh);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}